<!DOCTYPE html>
<html>

   <head>
     <title>URL Shortener Microservice</title>
     <meta charset="utf-8">      
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <link href="/public/css/style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
   </head>

   <body>
      <div class="container">
        <div class="well">
         <h1>URL Shortener Microservice</h1>
          <hr>
    
          </div> <!-- well -->
        <footer>
          <p>Github Repo <a href="https://github.com/maribelduran/url-shortener-microservice" target="_blank">
          <span class="fa fa-github"></span>
        </a></p>
          <p>
            Built by <a href="http://www.maribelduran.com/" target="_blank">Maribel Duran</a>
          </p>
          </footer>
      </div> <!-- container -->
   </body>

</html>
